#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow:
    3px 3px 5px #0d1b2a,
    -3px -3px 5px #babecc;
  width: 1200px;
  height: fit-content;
  border-radius: 15px;
}

@media (max-width: 2444px) {
  .container {
    flex-wrap: wrap;
    width: 1200px;
    height: auto;
  }
  .navbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    top: 40px;
    left: 90px;
    width: fit-content;
    z-index: 1000;
    padding: 1rem;
    box-shadow:
      2px 2px 3px #babecc,
      -2px -2px 3px #212121;
    border-radius: 24px;
    backdrop-filter: blur(2px);
  }
  .navbar .link {
    color: #dddddd;
    font-size: 20px;
    margin: 10px;
  }
  .avatar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 200px;
  }

  .avatar .avatar-img {
    width: 300px;
    height: 300px;
    margin: 10px;
  }
  .avatar ol {
    margin-left: 30px;
    padding: 0;
  }
  .avatar li {
    margin-top: 10px;
    margin-left: 20px;
    width: 0;
  }
  .avatar a {
    background-color: lightsteelblue;
    font-size: 20px;
    margin-top: 5px;
    border-radius: 10px;
    width: 100px;
    padding: 3px;
    margin-left: 0;
    color: #212121;
  }
  .card-principal {
    display: flex;
    flex-direction: row;
    margin-bottom: 400px;
  }
  .card {
    text-align: justify;
    font-size: 14px;
    box-shadow:
      3px 3px 5px #0d1b2a,
      -3px -3px 5px #babecc;
    background: "var(--principal-color)";
    padding: #f1f1f1f1;
    border-radius: 15px;
    padding: 30px;
    width: 250px;
    height: auto;
    margin: 25px;
  }
  .skills .icons {
    font-size: 60px;
    filter: drop-shadow(2px 2px 3px #dddddd);
    margin-bottom: 400px;
  }
  .projects {
    width: 1000px;
    display: flex;
    flex-direction: column;
  }
  .projects img {
    width: 1000px;
    transition: width;
    transition-duration: 0.5s;
    transition-delay: 0.5ms;
    transition-timing-function: ease-in-out;
  }

  .projects a {
    background-color: lightsteelblue;
    font-size: 18px;
    border-radius: 5px;
    width: fit-content;
    padding: 5px;
    color: #212121;
    z-index: 1;
  }
}

@media (max-width: 321px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: fit-content;
  }
  .navbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    top: 40px;
    left: 70px;
    width: fit-content;
    z-index: 1000;
    padding: 1rem;
    margin-bottom: 200px;
    box-shadow:
      2px 2px 3px #babecc,
      -2px -2px 3px #212121;
    border-radius: 24px;
    backdrop-filter: blur(2px);
  }

  .navbar .link {
    color: #dddddd;
    font-size: 20px;
    margin: 10px;
  }

  .avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
  }
  .avatar ol {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .avatar li {
    margin-top: 10px;
  }
  .avatar a {
    background-color: #3a37e6;
    font-size: 14px;
    margin-top: 5px;
    border-radius: 10px;
    width: 100px;
    padding: 3px;
    margin-left: 0;
    color: #dddddd;
  }
  .avatar .avatar-img {
    width: 150px;
    height: 150px;
  }
  .avatar ol {
    font-size: 12px;
  }
  .card-principal {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
  .card {
    display: flex;
    flex-direction: column;
    text-align: justify;
    font-size: 14px;
    box-shadow:
      3px 3px 15px #0d1b2a,
      -3px -3px 15px #babecc;
    background: "var(--principal-color)";
    padding: #f1f1f1f1;
    border-radius: 15px;
    padding: 15px;
    margin-top: 15px;
  }
  .skills .icons {
    font-size: 40px;
    filter: drop-shadow(2px 2px 3px #dddddd);
  }
  .projects {
    width: 700px;
    display: flex;
    flex-direction: column;
  }
  .projects img {
    width: 720px;
    transition: width;
    transition-duration: 0.5s;
    transition-delay: 0.5ms;
    transition-timing-function: ease-in-out;
  }
  .projects {
    width: 1000px;
    transition: width;
    transition-duration: 0.5s;
    transition-delay: 0.5ms;
    transition-timing-function: ease-in-out;
  }
  .projects img:hover {
    width: 1000px;
    transition: width;
    transition-duration: 0.5s;
    transition-delay: 0.5ms;
    transition-timing-function: ease-in-out;
  }
  .projects a {
    background-color: lightsteelblue;
    font-size: 18px;
    border-radius: 5px;
    width: fit-content;
    padding: 5px;
    color: #212121;
    z-index: 1;
  }
}
