@import url("https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&display=swap");

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: "Alan sans, sans-serif";
}
.container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 1200px;
  height: fit-content;
  border-radius: 15px;
}

@media (max-width: 2444px) {
  .container {
    flex-wrap: wrap;
    width: 1200px;
    height: auto;
  }
  .navbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    top: 60px;
    left: 0;
    right: 0;
    width: fit-content;
    z-index: 1000;
    padding: 1rem;
    box-shadow:
      2px 2px 3px #babecc,
      -2px -2px 3px #212121;
    backdrop-filter: blur(2px);
  }
  .navbar .link {
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
    font-weight: lighter;
  }
  h2,
  h3 {
    font-weight: lighter;
  }
  p {
    font-weight: lighter;
    text-align: justify;
    font-size: 18px;
  }
  .avatar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 200px;
  }

  .avatar .avatar-img {
    width: 100%;
    height: auto;
    max-width: 250px;
    margin: 10px;
    box-shadow:
      2px 2px 3px #0d1b2a,
      -2px -2px 3px #babecc;
  }
  .avatar aside {
    margin-left: 30px;
    padding: 0;
  }
  .avatar a {
    background-color: #dddddd;
    font-size: 30px;
    margin-top: 5px;
    border-radius: 10px;
    width: 100px;
    padding: 3px;
    margin-right: 10px;
    color: #212121;
  }
  .card-principal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 400px;
  }
  .card {
    text-align: justify;
    font-size: 14px;
    box-shadow:
      3px 3px 5px #0d1b2a,
      -3px -3px 5px #babecc;
    background: "var(--principal-color)";
    padding: #f1f1f1f1;
    border-radius: 24px;
    padding: 30px;
    width: fit-content;
    height: fit-content;
    margin: 25px;
  }

  .skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-shadow:
      3px 3px 5px #0d1b2a,
      -3px -3px 5px #babecc;
    border-radius: 16px;
    padding: 10px;
    margin-bottom: 400px;
    height: fit-content;
  }
  .skills .icons {
    font-size: 60px;
    filter: drop-shadow(2px 2px 3px #dddddd);
    box-shadow:
      3px 3px 5px #0d1b2a,
      -3px -3px 5px #babecc;
    border-radius: 24px;
    padding: 10px;
    margin: 5px;
  }
  .projects {
    width: 1000px;
    display: flex;
    flex-direction: column;
    margin-bottom: 400px;
  }
  .projects img {
    width: 1000px;
    transition: width;
    transition-duration: 0.5s;
    transition-delay: 0.5ms;
    transition-timing-function: ease-in-out;
  }

  .projects a {
    background-color: #dddddd;
    font-size: 30px;
    border-radius: 5px;
    width: fit-content;
    padding: 5px;
    color: #212121;
    z-index: 1;
  }
  .contact-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    padding: 10px;
    height: fit-content;
    width: auto;
  }
  .contact-div .contact-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-shadow:
      3px 3px 5px #0d1b2a,
      -3px -3px 5px #babecc;
    border-radius: 24px;
    padding: 10px;
    height: fit-content;
    width: 700px;
  }
  .contact-div .contact-form input {
    padding: 10px;
    margin: 5px;
    font-size: 14px;
    background: transparent;
    backdrop-filter: blur(25px);
    border: none;
    width: 650px;
    font-family: "Arial", sans-serif;
    transition-delay: 0.5ms;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
  }
  .contact-div .contact-form input:hover {
    background: aliceblue;
    transition: background 0.5s ease-in-out;
    transition-delay: 0.5ms;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
  }
  .contact-div .contact-form textarea {
    padding: 10px;
    margin: 5px;
    font-size: 14px;
    width: 650px;
    border: none;
    border-radius: 16px;
    background: transparent;
    font-family: "Arial", sans-serif;
    transition-delay: 0.5ms;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
  }
  .contact-div .contact-form textarea:hover {
    background: aliceblue;
    transition: background 0.5s ease-in-out;
    transition-delay: 0.5ms;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
  }

  .contact-div .contact-form button {
    padding: 5px;
    margin: 5px;
    font-size: 12px;
    background: #babecc;
    border-radius: 5px;
    box-shadow:
      3px 3px 5px #0d1b2a,
      -3px -3px 5px #babecc;
  }
}

@media (min-width: 250px) and (max-width: 640px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 990px;
  }
  .navbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    top: 0;
    left: 0;
    right: 0;
    width: fit-content;
    z-index: 1000;
    padding: 1rem;
    box-shadow:
      2px 2px 3px #babecc,
      -2px -2px 3px #212121;
    backdrop-filter: blur(2px);
  }

  .navbar .link {
    color: #212121;
    font-size: 18px;
    margin: 5px;
    font-weight: lighter;
  }
  h1 {
    font-size: 18px;
  }
  h2,
  h3 {
    font-weight: lighter;
    font-size: 18px;
  }
  p {
    font-weight: lighter;
    text-align: justify;
    font-size: 16px;
  }
  .avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 300px;
  }
  .avatar aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    text-align: center;
  }
  .avatar a {
    background-color: #dddddd;
    font-size: 14px;
    margin-top: 5px;
    border-radius: 10px;
    width: 100px;
    font-size: 30px;
    padding: 3px;
    margin-left: 0;
    color: #212121;
  }
  .avatar .avatar-img {
    width: 100%;
    height: auto;
    max-width: 200px;
  }

  .card-principal {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    margin-bottom: 400px;
  }
  .card {
    display: flex;
    flex-direction: column;
    text-align: justify;
    font-size: 14px;
    box-shadow:
      3px 3px 15px #0d1b2a,
      -3px -3px 15px #babecc;
    background: "var(--principal-color)";
    padding: #f1f1f1f1;
    border-radius: 15px;
    padding: 15px;
    margin-top: 15px;
  }
  .skills {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .skills .icons {
    font-size: 40px;
    filter: drop-shadow(2px 2px 3px #dddddd);
  }
  .projects {
    width: 700px;
  }
  .projects img {
    width: 720px;
    transition: width;
    transition-duration: 0.5s;
    transition-delay: 0.5ms;
    transition-timing-function: ease-in-out;
  }
  .projects {
    width: 720px;
    transition: width;
    transition-duration: 0.5s;
    transition-delay: 0.5ms;
    transition-timing-function: ease-in-out;
  }
  .projects img:hover {
    width: 1000px;
    transition: width;
    transition-duration: 0.5s;
    transition-delay: 0.5ms;
    transition-timing-function: ease-in-out;
  }
  .projects a {
    background-color: #dddddd;
    font-size: 20px;
    border-radius: 5px;
    width: fit-content;
    padding: 5px;
    color: #212121;
    z-index: 1;
  }
  .contact-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    padding: 10px;
    height: fit-content;
    width: auto;
  }
  .contact-div .contact-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-shadow:
      3px 3px 5px #0d1b2a,
      -3px -3px 5px #babecc;
    border-radius: 16px;
    padding: 10px;
    height: fit-content;
  }
  .contact-div .contact-form input {
    padding: 10px;
    margin: 5px;
    font-size: 14px;
  }
  .contact-div .contact-form textarea {
    padding: 10px;
    margin: 5px;
    font-size: 14px;
  }
  .contact-div .contact-form button {
    padding: 5px;
    margin: 5px;
    font-size: 12px;
    background: #babecc;
    box-shadow:
      3px 3px 5px #0d1b2a,
      -3px -3px 5px #babecc;
  }
}
